// reset for list style
%listeret{
	margin:0;
	padding:0;
	list-style:none;
}

// absolute block
%absolute{
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
}

// vertical alignment elements
%vertical{
	&:after{
		content:'';
		display:inline-block;
		vertical-align:middle;
		height:100%;
		width:1px;
		margin:0 0 0 -5px;
	}
}

// top alignment
%vertical-aligment{
	display:inline-block;
	vertical-align:top;
}

// middle alignment
%aligment-middle{
	display:inline-block;
	vertical-align:middle;
}

%icomoon{
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}