@import "bootstrap/mixins";
@import "markup-mixins";
@import "bootstrap-override";

@-webkit-viewport   { width: device-width; }
@-moz-viewport	  { width: device-width; }
@-ms-viewport	   { width: device-width; }
@-o-viewport		{ width: device-width; }
@viewport		   { width: device-width; }

@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-mdoetv');
	src:url('../fonts/icomoon.eot?#iefix-mdoetv') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-mdoetv') format('woff'),
		url('../fonts/icomoon.ttf?-mdoetv') format('truetype'),
		url('../fonts/icomoon.svg?-mdoetv#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'resize';
	src: url('../fonts/resize.eot?50475696');
	src: url('../fonts/resize.eot?50475696#iefix') format('embedded-opentype'),
		url('../fonts/resize.woff?50475696') format('woff'),
		url('../fonts/resize.ttf?50475696') format('truetype'),
		url('../fonts/resize.svg?50475696#resize') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
	max-height: 10000px;
	font-size: 100.01%;
}

html {
	font-size: 62.5%;
	height:100%;
}

body {
	font-size:1.4em;
	min-width:320px;
	 -webkit-text-size-adjust:100%;
	-ms-text-size-adjust: none;
	height:100%;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="search"],
input[type="file"],
input[type="submit"],
textarea{
 -webkit-appearance:none;
 border-radius:0;
}
input[type="search"]::-webkit-search-cancel-button{-webkit-appearance:none;}
input[type="search"]::-webkit-search-decoration{display:none;}
::-ms-clear{display:none;}

h1{
	font-size:2.286em;
	line-height:1.063em;
	color:$color-03;
	font-weight:normal;
	margin:0 0 19px 3px;
	@media only screen and (max-width:961px){
		font-size:1.857em;
		line-height:1.154em;
	}
	@media only screen and (max-width:900px){
		margin: 0 0 13px 3px;
	}
	@media only screen and (max-width:767px){
		font-size:1.714em;
		margin:0 0 10px;
	}
}

h2{
	font-size:2.143em;
	line-height:1.067em;
	margin:0 100px 15px 0;
	@media only screen and (max-width:767px){
		font-size:1.571em;
		margin:40px 0 8px;
	}
}

h3{
	font-size:1em;
	line-height:1.123em;
	margin:0 0 7px;
}

.lead{
	font:1em/1.5em 'Source Code Pro', Arial, Helvetica, sans-serif;
	margin:0;
}

label{
	font-weight:normal;
	color:darken($color-06, 70%);
	font-size:0.928em;
	vertical-align:top;
}

p{
	margin:0 0 10px;
}

[class^="icon-"], [class*=" icon-"] {
	@extend %icomoon;
}

.icon-add-circle-outline:before {
	content: "\e602";
	font-size:31px;
	@extend %vertical-aligment;
	margin:-8px 6px 0;
}
.icon-ok:before {
	content: "\e606";
}
.icon-highlight-remove:before {
	content: "\e603";
}
.icon-input-checked:before {
	content: "\e605";
}
.icon-location:before {
	content: "\e601";
}
.icon-share:before {
	content: "\e600";
}
.icon-embed:before {
	content: "\e604";
}
.icon-chevron-left:before {
	content: "\f0a4";
}
.icon-chevron-right:before {
	content: "\f078";
}
.icon-embed:before {
	content: "\e604";
}
.icon-plus-circle:before {
	content: "\f055";
}
.icon-minus-circle:before {
	content: "\f056";
}
.icon-comments:before {
	content: "\f086";
}
.icon-resize-vertical:before {
	content: '\e800';
	font-family: "resize";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin:6px;
}

#wrapper {
	position:relative;
	overflow:hidden;
	width:100%;
	height:100%;
	display:table;
	table-layout:fixed;
	.holder{
		max-width:1170px;
	}
}
.btn-holder{
	position: relative;
}
.highlight{
	font-weight: bold;
	font-style: italic;
}
#header{
	@include box-shadow(0 0 5px darken($color-06, 15%));
	.logo{
		width:221px;
		padding:18px 0 0 4px;
		@media only screen and (max-width:767px){
			float:none !important;
			margin:0 auto;
		}
		img{
			display:block;
		}
	}
	.logo-image{
		display:block;
	}
	.navbar{
		margin-bottom: 5px;
	}
	.navbar-nav{
		padding:0;
		margin:0 -5px 0 -10px;
		@extend %vertical-aligment;
		float:none;
		@media only screen and (max-width:767px){
			float:none;
			text-align:center;
			width:100%;
			display:block;
			margin:0;
		}
		>li{
			@media only screen and (max-width:767px){
				display:inline-block;
			}
		}
		.dropdown-toggle{
			padding:18px 12px;
			@media only screen and (max-width: 767px){
				padding:8px 12px 18px;
			}
		}
	}
	.dropdown-menu{
		font-weight:bold;
		min-width:100%;
		margin-top: -8px;
		border-radius:0;
		@include box-shadow(0 8px 15px rgba(0, 0, 0, 0.4));
		display:none;
		a{
			padding:3px 11px 5px;
		}
		
	}
	.dropdown:hover .dropdown-menu,
	.hover .dropdown-menu{
		display:block;
	}
	.dropdown-toggle{
		padding:0 12px;
	}
	.glyphicon-chevron-down{
		font-size:0.857em;
	}
	.open .dropdown-menu{
		position:absolute !important;
		border:1px solid darken($color-06, 30%);
		background:$color-01;
		a{
			line-height: 1.1428;
			&:hover,
			&:focus{
				background:$color-06;
			}
		}
	}
}

.form-control,
.form-control:focus{
	box-shadow:none;
}

.navbar-form{
	@extend %vertical-aligment;
	@media only screen and (max-width:900px){
		.jcf-select{
			width:35px;
		}
	}
	@media only screen and (max-width:767px){
		border:0;
		text-align:center;
		display:block;
		margin-bottom:0;
	}
	.jcf-select-text{
		&:after{
			content:"in";
			position:absolute;
			top:0;
			left:7px;
		}
		@media only screen and (max-width:900px){
			text-indent:-9999px;
		}
	}
	.input-group{
		vertical-align:top;
		@media only screen and (max-width:767px){
			display:inline-block;
		}
		.form-control{
			@extend %vertical-aligment;
			width:210px;
			font-weight:500;
			border-right:0;
			line-height:18px;
			padding: 6px 9px;
			color:$color-04;
			&:focus{
				border-color:darken($color-08, 5%);
			}
			@media only screen and (max-width:900px){
				width:240px;
			}
			@media only screen and (max-width:767px){
				width:176px;
			}
		}
	}
	select{
		@extend %vertical-aligment;
		width:179px;
	}
	.btn-default{
		height:36px;
		width:36px;
		margin:0 0 0 -4px;
		border-radius:0 2px 2px 0;
	}
	.glyphicon-search{
		font-size:12px;
	}
}

.breadcrumb{
	font-size:0.93em;
	padding: 8px 6px;
	margin-bottom: 9px;
	@media only screen and (max-width:961px){
		margin-bottom:14px;
	}
	@media only screen and (max-width:900px){
		margin-bottom:5px;
	}
	@media only screen and (max-width:767px){
		padding: 8px 0;
	}
	li + li:before{
		color:darken($color-06, 30%);
		padding:0 3px;
		@media only screen and (max-width:767px){
			padding:0 2px;
		}
	}
	.separator:before{
		display:none;
	}
}

.opener{
	display:block;
	width:50px;
	height:50px;
	white-space:nowrap;
	color:darken($color-06, 40%);
	padding:5px 9px 5px 5px;
	@extend %vertical;
	&:hover,
	&:focus{
		text-decoration:none;
		color:lighten($color-04, 20%);
	}
	span,
	i{
		@extend %aligment-middle;
		white-space:normal;
		font-size:23px;
	}
}
.content-holder{
	position: relative;
	/*overflow: hidden;*/
	margin:0 -15px;
	&:after{
		content:"";
		background:$color-01;
		position:absolute;
		top:-5px;
		left:0;
		right:-999px;
		height:5px;
		z-index:20;
	}
}
#content {
	padding:0 0 300px;
	position: relative;
	.table-holder{
		>.jcf-scrollable-wrapper{
			>.jcf-scrollbar-vertical{
				display: none !important;
			}
		}
	}
}
.content{
	box-sizing:content-box;
	border-top:1px solid darken($color-08, 5%);
	/*width: 100%;*/
	* {
		box-sizing:border-box;
	}
	.content-right{
		margin:26px 30px 0 80px;
		position:relative;
		overflow:hidden;
		@media only screen and (max-width:767px){
			margin:8px 10px 0 60px;
		}
	}
	.heading{
		padding:0 0 12px;
		.btn-default{
			margin:0 7px 7px 0;
		}
		.lead{
			@extend %aligment-middle;
			margin:0 0 6px;
		}
		+p{
			margin:0 0 21px;
		}
	}
	.table-holder{
		padding:6px 0 0;
	}
}

.btn{
	padding:6px 10px;
	font-weight:bold;
	&.btn-lg{
		font-size:14px;
		line-height:26px;
		border-radius:2px;
		padding: 6px 16px;
	}
	&.btn-sm{
		font-size:13px;
		line-height:15px;
		padding:2px;
		width:40px;
	}
}

.tabs-holder{
	.tab-frame{
		padding:30px 0 0 0;
		&.first{
			padding:25px 0 0 0;
		}
		>.jcf-scrollable-wrapper{
			>.jcf-scrollbar-vertical{display: none !important;}
		}
	}
}

.nav-tabs{
	@media only screen and (max-width:767px){
		border-top:1px solid $color-08;
		text-align:center;
	}
	li{
		@media only screen and (max-width:767px){
			width:100%;
		}
	}
	>li>a{
		border-radius:0;
		padding:7px 20px 9px;
		border-top:4px solid transparent;
		@media only screen and (max-width:767px){
			border:1px solid $color-08;
			border-top:4px solid transparent;
			margin-right:0;
		}
	}
	.glyphicon{
		font-size:0.857em;
	}
	.icon-input-checked{
		font-size:1.256em;
		margin:0 -3px -3px -6px;
		@extend %vertical-aligment;
	}
	li.active{
		>a,
		>a:hover,
		>a:focus{
			border-top:4px solid $color-02;
			@media only screen and (max-width:767px){
				border:1px solid $color-08;
				border-top:4px solid $color-02;
			}
		}
	}
	>li>a:hover{
		border-top:4px solid $color-02;
		@media only screen and (max-width:767px){
			border-top:4px solid $color-02;
		}
	}
}

.tabset-panel{
	margin:0;
	position: relative;
	z-index: 15;
	li{
		border-bottom:1px solid darken($color-08, 5%);
	}
	.active a{
		background:$color-02;
		color:$color-01;
	}
}

.table-box{
	width:100%;
	margin:0 0 27px;
	word-wrap:break-word;
	th:first-child{
		width:100px;
	}
	td,
	th{
		border:1px solid $color-08;
		padding: 6px 8px;
	}
	td{
		padding: 12px 6px;
		vertical-align:top;
		@media only screen and (max-width:900px){
			padding:11px 6px 7px;
		}
	}
	th{
		background:$color-06;
	}
	p{
		margin:0 0 16px;
	}
	.fourth-column{
		width: 13.4%;
		@media only screen and (max-width:961px){
			width:16.5%;
		}
		@media only screen and (max-width:900px){
			width:21.4%;
		}
	}
	.thirth-column{
		width:9.3%;
		@media only screen and (max-width:961px){
			width:11.6%;
		}
		@media only screen and (max-width:900px){
			width:15%;
		}
	}
	.last{
		width:50px;
		padding:6px 5px;
		@media only screen and (max-width:961px){
			text-align:center;
		}
		@media only screen and (max-width:767px){
			text-align:left;
			width:auto;
		}
	}
	&.table-box-01{
		th:first-child{
			width:27.5%;
			@media only screen and (max-width:961px){
				width:30.7%;
			}
		}
		td{
			@media only screen and (max-width:961px){
				padding:9px 6px 15px;
			}
		}
	}
	&.table-box-02,
	&.table-box-01{
		div{
			margin:0 0 -19px;
		}
	}
	&.table-box-02{
		td:first-child{
			width:16%;
		}
		td{
			padding: 11px 6px 15px;
			@media only screen and (max-width:961px){
				padding:8px 8px 18px;
			}
		}
		th:first-child{
			@media only screen and (max-width:961px){
				width:23.5%;
			}
		}
	}
	&.table-box-03{
		@media only screen and (max-width:961px){
			td{
				padding:11px 6px;
			}
		}
	}
	ul{
		@extend %listeret;
		padding:2px 0 0 12px;
		li{
			padding:0 0 18px 8px;
			position:relative;
			&:after{
				content:"";
				background:$color-04;
				width:3px;
				height:3px;
				position:absolute;
				top:0.45em;
				left:0;
				border-radius:50%;
				overflow:hidden;
			}
		}
	}
	.last-column{
		width:13%;
		@media only screen and (max-width:961px){
			width:16.5%;
		}
	}
	th.first{
		width:11.5%;
		@media only screen and (max-width:961px){
			width:14%;
		}
	}
	.second{
		width:7.5%;
		@media only screen and (max-width:961px){
			width:9.5%;
		}
	}
	&.table-box-05{
		table-layout:fixed;
		min-width: 500px;
		th:first-child{
			width:auto;
			width:64%;
		}
		.lead{
			margin:0;
			line-height:1.143em;
			word-wrap:break-word !important;
		}
		td{
			padding:6px 6px 4px;
			vertical-align:middle;
		}
		th{
			width:80px;
		}
		.last{
			width:29.2%;
		}
	}
	.btn-default{
		width:66px;
		padding:6px 4px;
	}
	tbody>tr:first-child td{
		border-top:0;
	}
}

.table{
	margin-bottom:28px;
	word-wrap:break-word;
	tr>td:first-child{
		background: $color-06;
		width:100px;
		padding:11px 6px;
	}
	td{
		width:auto;
		padding:14px 8px;
	}
	&.table-02{
		tr>td:first-child{
			width:66px;
			text-align:center;
		}
		td{
			padding:9px 6px;
		}
	}
}

.table-responsive{
	overflow:visible;
	border:0;
	@media only screen and (max-width: 767px){
		.table-bordered tbody > tr > td:first-child,
		.table-bordered tbody > tr > td:last-child{
			border-bottom:1px solid $color-08;
			border-left:1px solid $color-08;
		}
	}
}

.table-bordered{
	border:0;
	@media only screen and (max-width: 767px){
		.table-bordered{
			border:1px solid $color-08;
		}
	}
}

.table-section{
  overflow-y:hidden !important;
}

.send-form{
	margin:0 0 39px;
	.textarea-holder{
		margin:-12px -6px -15px;
		@media only screen and (max-width:900px){
			margin:-10px -6px -14px;
		}
		@media only screen and (max-width: 767px){
			margin:-11px -35px -11px -10px;
			textarea{
				border: solid $color-08;
				border-width:1px 0
			}
		}
	}
	textarea{
		background:$color-07;
		border:0;
		padding:11px 7px;
		height:189px !important;
		font-style:italic;
		font-size:14px;
		line-height:16px;
		border-radius:0;
		color:$color-04;
		@include placeholder ($color : darken($color-06, 40%));
	}
	.jcf-scrollbar-horizontal{
		display:none;
	}
	.table-box{
		margin:0 0 21px;
	}
	.error textarea{
		border:1px solid $color-03;
	}
}

textarea{
	width:100% !important;
	min-width:100% !important;
	max-width:100% !important;
	resize:none;
}

.copy-box{
	margin:0 0 18px;
	.glyphicon{
		font-size:0.857em;
		@extend %vertical-aligment;
	}
	.copy-frame{
		border:1px solid $color-08;
		width:100%;
		padding: 5px 2px 4px;
		background:$color-01;
	}
	.inner-block{
		white-space:nowrap;
		width:100% !important;
		padding:0 8px 17px;
		height:auto !important;
	}
	.btn-copy{
		border:solid $color-08;
		background:$color-01;
		border-width:0 1px 1px;
		padding:3px 7px;
		font-weight:bold;
		font-size:0.928em;
		@extend %vertical-aligment;
		&:focus,
		&:hover{
			text-decoration:none;
			opacity:0.8;
		}
	}
	p{
		margin:0 0 21px;
	}
	.last-child{margin:0;}
}

.tab-content{
	> .tab-pane{
		display:block !important;
		position:absolute;
		left:-9999px;
		width:100% !important;
		&.active{
			position:static;
		}
	}
}

.left-panel{
	width:50px;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	bottom: 0;
	border-top:1px solid darken($color-08, 5%);
	li{
		position:relative;
	}
	&:after{
		content:"";
		background:$color-06;
		@extend %absolute;
		width:50px;
		height:100%;
		z-index:10;
		@include box-shadow(0 0 4px rgba(0, 0, 0, 0.4));
	}
	.tooltip-active .tooltip{
		display:block;
		opacity:1;
	}
}

.tooltip{
	font-weight:bold;
	line-height:1.428em;
	font-size:1em;
	top:50%;
	margin-top:-10px;
	left:50px;
	display:none;
	@include transition(opacity 0.3s linear);
	&.right{
		margin-left:-10px;
	}
}
#main{
	position: relative;
	overflow: hidden;
}
.static .slide-holder.right{
	right: auto;
	left: 100%;
}
.slide-holder{
	@include clearfix;
	border-top:1px solid #c6d3dc;
	background:$color-06;
	min-height: 100%;
	position: absolute;
	top: 0;
	z-index:4;
	left:50px;
	display:none !important;
	@include box-shadow(0 0 4px rgba(0, 0, 0, 0.4));
	&.right{
		left:auto;
		right:-4px;
		.slide-frame{
			width:480px;
			@media only screen and (max-width:767px){
				width:270px;
			}
			h2{
				margin:0 0 17px;
			}
		}
		h2{
			border-bottom:1px solid darken($color-06,10%);
			margin: 0 0 30px;
			padding: 0 0 12px;
		}
	}
	&.active{
		display:block !important;
	}
	.slide-frame{
		padding: 13px 14px;
		width: 300px;
		@media only screen and (max-width:767px){
			width:270px;
		}
		h2{
			font-size:1.15em;
			margin:0 0 9px;
		}
		.slide-title{
			@include clearfix;
		}
	}
	.copy-box{
		margin:0 0 28px;
		h3{
			margin:0 0 3px;
		}
	}
	.tabset-examples{
		font-weight:bold;
		margin:0 5px;
		li{
			padding: 0 10px 0 11px;
			position: relative;
			&:after{
				content:"";
				background:darken($color-06, 30%);
				width:1px;
				height:14px;
				position:absolute;
				top:50%;
				left:-1px;
				margin:-7px 0 0;
			}
			&:first-child:after{
				display:none;
			}
			&.active a{
				color:$color-02;
			}
		}
		a{
			color:darken($color-06, 30%);
			&:hover,
			&:focus{
				text-decoration:none;
				color:$color-02;
			}
		}
	}
	.image{
		padding:13px 0;
		@media only screen and (max-width:767px){
			width:100%;
			height:auto;
		}
	}
}

pre{
	font:1em/1.5em 'Source Code Pro', Arial, Helvetica, sans-serif;
	border-radius:0;
	padding:0;
	border:0;
	overflow:visible;
	word-wrap:normal;
}

.menu{
	font-size:0.928em;
	margin:0 -14px 16px;
	li{
		padding:0 0 5px;
	}
	.active{
		> span > .opener-list:before{
			content: "\f056";
		}
	}
	a{
		display:block;
		padding:2px 15px 2px 25px;
		&:hover,
		&:focus{
			background:rgba(0, 0, 0, 0.06);
			text-decoration:none;
			color:$color-02;
		}
	}
	.opener-list{
		float:left;
		clear:both;
		margin: 2px 0 0 7px;
		padding:0;
		&:focus,
		&.active,
		&:hover{
			text-decoration:none;
			background:0;
		}
		&:before{
			content: "\f055";
			@extend %icomoon;
			color:darken($color-06, 30%);
		}
		&:hover:before{
			color:darken($color-06, 70%);
		}
	}
	ul{
		padding:5px 0 0;
		margin:0 0 -4px;
		a{
			padding:2px 15px 2px 36px;
		}
		.opener-list{
			margin: 2px 0 0 19px;
		}
	}
	ul ul{
		margin:0 0 -5px;
		a{
			padding:2px 15px 2px 48px;
			&.active,
			&:hover,
			&:focus{
				color:$color-04;
				background:lighten($color-02, 50%);
			}
		}
	}
	&.menu-01 a{
		padding:2px 15px 2px 13px;
	}
}

.radio-form{
	h3{
		color:$color-02;
		font-size:1.143em;
		line-height:1.125em;
		margin:0 0 4px;
		@media only screen and (max-width: 767px){
			font-size:1.1em;
		}
	}
	.form-control{
		color:$color-04;
		border-color:darken($color-06, 50%);
		height:30px;
		padding: 5px 26px 5px 7px;
		$color :$color-04;
		@include placeholder ($color :$color-04);
		line-height:18px;
		&:focus{
			border-color:darken($color-06, 50%);
		}
	}
	.search-holder{
		position:relative;
		&:before{
			content: "\e003";
			font-family: 'Glyphicons Halflings';
			position:absolute;
			right: 9px;
			top: 8px;
			font-size:12px;
			cursor:pointer;
			color:darken($color-06, 70%);
		}
	}
	.radio-row{
		padding:0 0 4px;
	}
	.search-holder{
		margin:6px 2px 17px 0;
	}
	.form-text{
		overflow:hidden;
		padding:0 0 13px;
	}
}

.radio-row label{
	max-width:248px;
	padding:2px 0 0;
	@media only screen and (max-width: 767px){
		max-width:188px;
	}
}

.add-holder{
	padding:0 0 8px;
	.download-list{
		padding:3px 0 10px;
		margin:0;
		li{
			padding:0 0 9px;
		}
	}
}

.addthis_toolbox{
	padding:3px 0 31px;
	a{
		margin:0 4px 0 0 !important;
		&:hover{
			opacity:0.8;
		}
	}
}

.feedback-form{
	h2{
		margin:0 0 13px;
	}
	color:darken($color-06, 70%);
	small{
		display:block;
		font-size:0.785em;
		line-height:1.27em;
	}
	.radio-row{
		padding:0 0 4px;
	}
	.jcf-radio{
		margin:-3px 1px 0 0;
	}
	.radio-holder{
		padding:0 0 5px;
	}
	.textarea-holder{
		margin:0 3px 15px 0;
	}
	textarea{
		height:270px !important;
		border-color:darken($color-06, 20%);
		margin:0;
		font-size:13px;
		padding: 8px 9px;
		border-radius:0;
		color:$color-04;
		&:focus{
			border-color:darken($color-06, 20%);
		}
	}
	.jcf-scrollbar-horizontal{
		display:none;
		height:0;
	}
	.btn-default{
		padding: 6px 15px;
		border-radius: 2px;
		margin:0 0 18px;
	}
	.error textarea{
		border:1px solid $color-03;
	}
}

.notes-form{
	padding:0 3px 0 0;
	textarea,
	.text-box{
		border-radius:0;
		color:$color-04;
		min-height:145px !important;
		border-color:darken($color-06, 20%);
		margin:0 0 45px;
		padding:9px 8px;
		line-height:17px;
		overflow:hidden;
		height:150px;
		@include placeholder ($color:$color-04);
		@media only screen and (max-width: 767px){
			height:155px;
		}
		&:focus{
			border-color:darken($color-06, 20%);
		}
	}
	.jcf-scrollbar-horizontal{
		display:none;
		height:0;
	}
	.text-box,
	[disabled="disabled"]{
		background:darken($color-07,10%);
		border:0;
		border-top:2px solid #4c4500;
		border-bottom:1px solid #b3a300;
		cursor:default;
		width:100% !important;
	}
	.btn-block{
		overflow:hidden;
		/*margin: -43px 0 0;*/
	}
	.slide-title{
		margin:0 0 71px;
	}
}

.round-btn{
	position:relative;
	color:darken($color-06, 50%);
	font-size:30px;
	margin: 0 -2px 0 4px;
	@extend %vertical-aligment;
	&:after{
		content:" ";
		background:$color-01;
		width:22px;
		height:22px;
		position:absolute;
		top:5px;
		left:4px;
		border-radius:50%;
		z-index:-1;
	}
	&:hover,
	&:focus{
		text-decoration:none;
		color:$color-04;
	}
	&.add-btn{
		margin:6px 0px 12px;
		color:darken($color-06, 50%);
		font-size:14px;
		&:hover,
		&:focus{
			text-decoration:none;
			color:$color-05;
		}
		&:after{
			top:-3px;
			left:12px;
		}
	}
}

.btn-resize{
	font-size:13px;
	margin:3px 0;
	&:after{
		border:3px solid darken($color-06, 50%);
		width:25px;
		height:25px;
		top:0;
		left:0;
	}
	&:hover:after{
		border-color:$color-04;
	}
}

.bookmarks-list{
	font-size:0.928em;
	li{
		border-top:1px solid darken($color-06, 10%);
		padding: 13px 0 2px;
		&:first-child{
			border:0;
			padding:0 0 6px;
		}
	}
	.expr{
		font-size:1.076em;
	}
	p{
		margin:0 0 8px;
	}
	.text-muted:hover{
		color:$color-04;
	}
}

.pagination{
	position:absolute;
	right: -4px;
    top: -12px;
	z-index:2;
	@media only screen and (max-width: 767px){
		top:-15px;
		right:0;
	}
	li{
		@extend %vertical-aligment;
		padding:0 4px;
		font-size:12px;
		@media only screen and (max-width: 767px){
			padding:0 2px;
		}
		&:last-child a,
		&:first-child a{
			border-radius:50%;
		}
		a{
			border-radius:50%;
			padding:0;
			width:42px;
			height:42px;
			position:relative;
			@media only screen and (max-width: 767px){
				width:36px;
				height:36px;
			}
		}
	}
	i{
		font-size:34px;
		position:absolute;
		left:50%;
		top:50%;
		margin:-17px 0 0 -9px;
	}
	.next i{
		margin:-17px 0 0 -6px;
	}
	&.bottom{
		top:auto;
		bottom:15px;
	}
}

#footer {
	width:100%;
	overflow:hidden;
	display:table-footer-group;
	height:1%;
	color:darken($color-06, 70%);
	font-size:0.756em;
	line-height:1.63em;
	.f1{
		background:$color-06;
		border-top:1px solid $color-08;
		padding:10px 0;
	}
	.footer-nav{
		margin:0;
		li{
			padding:0 15px 0 4px;
			position:relative;
			&:after{
				content:"";
				background:darken($color-06, 20%);
				position:absolute;
				top:50%;
				left:-7px;
				width:1px;
				height:10px;
				margin:-6px 0 0;
			}
			&:first-child:after{
				display:none;
			}
		}
		.separator:after{
			display:none;
		}
	}
	.copyright{
		padding:0 4px;
	}
	.footer-left{
		@media only screen and (max-width: 767px){
			text-align:center;
			width:100%;
		}
	}
}

.select-form{
	padding:0 4px 0 0;
	@media only screen and (max-width: 767px){
		width:100%;
		text-align:right;
	}
	.jcf-select{
		background:0;
		border:0;
		color:$color-02;
		width:194px;
		text-align:right;
		font-weight:bold;
		filter:none;
		.jcf-select-text{
			margin:0 18px 0 8px;
			line-height:34px;
		}
		.jcf-select-opener:after{
			right:1px;
			margin:-9px 0 0;
		}
	}
}

.accessibility{
	position:absolute;
	left:-10000px;
	top:auto;
	width:1px;
	height:1px;
	overflow:hidden;
	&:focus{
		position:static;
		width:auto;
		height:auto;
	}
}

form legend,
.name-organization{
	position:absolute;
	top:-9999px;
	left:-9999px;
}

caption{
	position:relative;
	top:-9999px;
	left:-9999px;
	font-size:0;
	line-height:0;
	height:0;
}

.jcf-radio {
	vertical-align: middle;
	display: inline-block;
	position: relative;
	overflow: hidden;
	cursor: default;
	background: $color-01;
	border: 2px solid darken($color-06, 40%);
	border-radius: 9px;
	margin: -1px 1px 0 0;
	height: 16px;
	width: 16px;
}
.jcf-radio.jcf-checked{
	border-color:darken($color-06, 60%);
}
.jcf-radio span{
	display:none;
	position:absolute;
	top:2px;
	left:2px;
	right:2px;
	bottom:2px;
	background:darken($color-06, 60%);
	border-radius:100%;
}
.jcf-radio input[type="radio"] {
	position: absolute;
	height: 100%;
	width: 100%;
	border: 0;
	margin: 0;
	left: 0;
	top: 0;
}
.jcf-radio.jcf-checked span {display:block;}
.jcf-select {
	@extend %vertical-aligment;
	position: relative;
	border: 1px solid darken($color-08, 10%);
	background: darken($color-06, 10%);
	@include gradient-vertical($start-color: #f1f3f3, $end-color: #e3e7e9, $start-percent: 0%, $end-percent: 100%);
	margin: 0;
	width: 180px;
	height: 36px;
	color:darken($color-08, 50%);
}
.jcf-select select {
	z-index: 1;
	left: 0;
	top: 0;
}
.jcf-select .jcf-select-text {
	text-overflow:ellipsis;
	white-space: nowrap;
	overflow: hidden;
	cursor: default;
	display: block;
	font-size: 14px;
	line-height: 32px;
	margin: 0 22px;
}
.jcf-select .jcf-select-opener {
	position: absolute;
	text-align: center;
	background: 0;
	width: 26px;
	bottom: 0;
	right: 0;
	top: 0;
}
.jcf-select .jcf-select-opener:after{
	content:"\e114";
	position:absolute;
	right: 8px;
	top: 50%;
	font-family: 'Glyphicons Halflings';
	font-size:12px;
	cursor:pointer;
	margin:-7px 0 0;
	@media only screen and (max-width:900px){
		right:10px;
	}
}
body > .jcf-select-drop {
	position: absolute;
	margin: -1px 0 0;
	z-index: 9999;
}
body > .jcf-select-drop.jcf-drop-flipped {
	margin: 1px 0 0;
}
.jcf-select .jcf-select-drop {
	position: absolute;
	margin-top: 0px;
	z-index: 9999;
	top: 100%;
	left: -1px;
	right: -1px;
}
.jcf-select-drop.jcf-select-lang{
	width:194px !important;
}
.jcf-select .jcf-drop-flipped {
	bottom: 100%;
	top: auto;
}
.jcf-list-box {
	overflow: hidden;
	display: inline-block;
	border: 1px solid darken($color-06, 30%);
	min-width: 200px;
	margin: 0 15px;
}
.jcf-list {
	@extend %vertical-aligment;
	position: relative;
	background: $color-01;
	line-height: 16px;
	font-size: 14px;
	width: 100%;
}
.jcf-list .jcf-list-content {
	@extend %vertical-aligment;
	overflow: auto;
	width: 100%;
	border:1px solid darken($color-06, 30%);
	@include box-shadow(0 8px 15px rgba(0, 0, 0, 0.4));
}
@media only screen and (max-width:900px){
	.jcf-select-drop.jcf-select-help-center .jcf-list{
		width:180px !important;
		margin: 0 0 0 -144px;
	}
}
.jcf-select-lang .jcf-list:after,
.jcf-select-lang .jcf-list:before {
	top: 100%;
	right:14px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	margin:-1px 0 0;
}
.jcf-select-lang .jcf-list:after {
	border-color: rgba(255, 255, 255, 0);
	border-top-color:$color-01;
	border-width: 7px;
	margin-left: -7px;
}
.jcf-select-lang .jcf-list:before {
	border-color: rgba(204, 204, 204, 0);
	border-top-color: darken($color-06, 30%);
	border-width: 8px;
	margin-left: -8px;
}
.jcf-list ul {
	list-style: none;
	padding: 3px 0 6px;
	margin: 0;
}
.jcf-select-lang .jcf-list ul{
	padding:14px 0 16px;
}
.jcf-list ul li {
	overflow: hidden;
	display: block;
}
.jcf-list .jcf-overflow {
	overflow: auto;
}
.jcf-list .jcf-option {
	white-space: nowrap;
	overflow: hidden;
	cursor: default;
	display: block;
	padding: 4px 9px;
	color: $color-02;
	height: 1%;
}
.jcf-select-lang .jcf-list .jcf-option {
	padding:4px 19px;
}
.jcf-list .jcf-disabled {
	background: $color-01 !important;
	color: darken($color-06, 10%) !important;
}
.jcf-select-drop .jcf-hover,
.jcf-list-box .jcf-selected {
	background: $color-06;
	color: $color-04;
}
.jcf-list .jcf-optgroup-caption {
	white-space: nowrap;
	font-weight: bold;
	display: block;
	padding: 5px 9px;
	cursor: default;
	color: $color-04;
}
.jcf-list .jcf-optgroup .jcf-option {
	padding-left: 30px;
}
.jcf-disabled {background: $color-06 !important;}
.jcf-select-drop .jcf-option-hideme{display:none;}
.jcf-scrollable-wrapper {
	box-sizing: content-box;
	position: relative;
}
.jcf-scrollable-wrapper .jcf-scrollbar-horizontal{
	width:100% !important;
	margin:0 0 5px;
}
.jcf-scrollable .jcf-scrollbar-horizontal{height:auto !important;}
.jcf-scrollable.table-section{height:100% !important;}
.jcf-scrollbar-vertical {
	position: absolute;
	cursor: default;
	background:0;
	width: 7px;
	right: 0;
	top: 0;
}
.jcf-scrollbar-vertical .jcf-scrollbar-dec,
.jcf-scrollbar-vertical .jcf-scrollbar-inc {
	background: transparent;
	height: 7px;
	width: 7px;
	left: 0;
	top: 0;
	display:none;
}
/* custom textarea styles */
.jcf-textarea {
	box-sizing: content-box;
	display: inline-block;
	position: relative;
	width:100% !important;
}
.jcf-textarea .jcf-scrollbar-horizontal {
	display: none;
	height: 0;
}
.jcf-textarea textarea {
	padding: 8px 10px;
	border: none;
	margin: 0;
}
.jcf-textarea .jcf-resize {
	position: absolute;
	text-align: center;
	cursor: se-resize;
	background: #e3e3e3;
	font-weight: bold;
	line-height: 15px;
	text-indent: 1px;
	font-size: 12px;
	height: 15px;
	width: 14px;
	bottom: 0;
	right: 0;
	display:none;
}
.jcf-textarea .jcf-resize:before {
	border: 1px solid #000;
	border-width: 0 1px 1px 0;
	display: block;
	margin: 4px 0 0 3px;
	width: 6px;
	height: 6px;
	content: '';
}
.textarea-holder .jcf-scrollbar-dec,
.textarea-holder .jcf-scrollbar-inc{display: none !important;}
.jcf-scrollbar-vertical .jcf-scrollbar-inc {
	top: auto;
	bottom: 0;
}
.jcf-scrollbar-vertical .jcf-scrollbar-handle {
	background: darken($color-06, 25%);
	border-radius:3px;
	overflow:hidden;
	height: 1px;
	width: 7px;
}
.jcf-scrollbar-horizontal {
	position: absolute;
	background: 0;
	right: auto;
	top: auto;
	left: 0;
	bottom: 0;
	width: 1px;
	height: 7px;
}
.jcf-scrollbar-horizontal .jcf-scrollbar-dec,
.jcf-scrollbar-horizontal .jcf-scrollbar-inc {
	display: inline-block;
	vertical-align: top;
	overflow: hidden;
	background: 0;
	height: 7px;
	width: 0;
}
.jcf-scrollbar-horizontal .jcf-scrollbar-inc {
	left: auto;
	right: 0;
}
.jcf-scrollbar-horizontal .jcf-scrollbar-slider {
	display: inline-block;
	position: relative;
	height: 14px;
}
.jcf-scrollbar-horizontal .jcf-scrollbar-handle {
	position: absolute;
	background: darken($color-06, 25%);
	height: 7px;
	border-radius:3px;
	overflow:hidden;
}
.jcf-scrollbar.jcf-inactive .jcf-scrollbar-handle {
	visibility: hidden;
}
.jcf-scrollbar.jcf-inactive .jcf-scrollbar-dec, 
.jcf-scrollbar.jcf-inactive .jcf-scrollbar-inc {
	background: #e3e3e3;
}
.jcf-disabled {background: #ddd !important;}
@media only screen and (max-width:767px){
	.table-box.table-box-01,
	.table-box.table-box-03,
	.table-box.table-box-04{
		display:block;
		overflow:hidden;
		border:1px solid $color-08;
		tbody,
		td,
		tr{
			display:block
		}
		tbody{
			display:block;
			border-left:109px solid $color-01;
			float:left;
			width:100%;
			padding:0 1px;
			@include box-sizing(border-box);
		}
		tr{
			float:left;
			width:100%;
			clear:both;
			box-sizing:content-box;
			td:first-child{
				border-top:1px solid $color-08;
			}
		}
		td{
			padding:0 0 0 112px;
			margin:0 -1px 0 -110px;
			float:left;
			clear:both;
			width:100%;
			white-space:nowrap;
			border:0;
			position:relative;
			@include box-sizing(content-box);
		}
		.even td{
			background:$color-06;
			&:first-child{
				border-top:1px solid $color-08;
			}
		}
		tbody>tr:first-child>td:first-child{
			border-top:1px solid $color-06;
		}
		td:before {
			content:attr(data-label);
			padding: 5px 10px;
			display:inline-block;
			width:74px;
			vertical-align:top;
			margin:6px 0 0 -117px;
			position:relative;
			white-space:normal;
			@include box-sizing(content-box);
		}
		td>div {
			width:100%;
			white-space:normal;
			display:inline-block;
			vertical-align:middle;
			padding:13px 10px 5px;
			@include box-sizing(border-box);
			border-left:1px solid $color-08;
		}
		thead {
			display:none;
		}
	}
}
