/* CSS Document */
body {
    font-family: "Helvetica Neue",Helvetica,"Open Sans",arial,sans-serif !important;
}
.obetitle {
	position: fixed;
	top: 0;
	z-index: 50;
	min-height: 50px;
	border-bottom:1px solid #d6dfe6;
	width: 100%;
	left: 0;
	padding: 8px;
	margin: 0;
	background: #fff;
}
.restbar {
	position: fixed;
	top: 50px;
}

article {
	margin: 0 !important;
	padding: .75em !important;
}
article h1 {
	font-size: 30px !important;
	font-weight: normal !important;
	color: #000;
	display: inline;
	line-height: 1.2;
	margin: 1em 0 15px 0;
}
.articleoffset {
	top: 55px;
	position: relative;
}

#toolbar {
	padding:13px 20px;
	display:block;}
#toolbar h3{
	font-size:18px !important;
	
	}
	
	
/*sections*/
section > h3 {
margin-bottom: 5px;
padding-left: 1em;
background-image: url(images/right_arrow.png);
background-position: left top;
background-position: 0px 50%;
background-repeat: no-repeat;
}
section > h3.d_arrow {
	background-image: url(images/down_arrow.png);
	background-position: left top;
	background-position: 0px 50%;
	background-repeat: no-repeat;
}
section h3 {
font-size: 18px !important;
cursor: pointer;
}
section h2 {
	width: 100% !important;
	font-size: 20px !important;
	line-height: 1.2;
	margin: 15px 0;
}
section > div > ol > li > span {
font-weight: normal;
display: block;
}


/*jqueryuipatches*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default{
	border: 1px solid #d3d3d3;
	/*background: #F5F5F5 url(images/ui-bg_glass_75_e6e6e6_1x400.png) 50% 50% repeat-x;*/
	background:none;
	background-color:whitesmoke;
	color:#0F0F0F;
}
.ui-button-text-icon-primary .ui-button-text, .ui-button-text-icons .ui-button-text {
    padding: 0.4em 1em 0.4em 1.8em !important;
}


.ui-button-text {
	padding: .2em 1em .2em 2.1em;
}

a[id] {
	display: block;
	font-size: 0px;
	height: 0px;
	margin: 0px;
	padding: 0px;
	position: relative;
	top: -65px;
	width: 0px;
}

.ui-button-text-only, .ui-button-text {
padding: 0;
}


.collapsible-outline{
	width:100%;
/*	border: 1px solid #46b8da;*/
border: 1px solid #9B9B9B;
padding: 4px;
width:auto;
	}

/*Left Nav*/ 

.left-nav-container {
	float: left;
	position: relative;
	top: 0;
	bottom: 0;
	max-width: 270px;
	height: auto;
}
/*.left-nav-fixed {
	position: relative;
	bottom: 60px;
	top:0;
	margin-top: 0;
	max-width: 271px;
	overflow-y: auto;
}*/
.left-nav-fixed {
	position: fixed;
	bottom: 60px;
	top: 60px;
	margin-top: 0;
	max-width: 270px;
overflow-y:auto;
}
#navToc {
	font-size: 14px;
	line-height: 1.2em;
width: 100%;
}

#navToc a:hover {
text-decoration:none;
color:#000;
background-color:#efefef;}

#navToc ul {
	margin: 0;
	padding: 0;
	list-style-type:none;
}
#navToc ul li a {
	/*background-image: url('images/right_arrow_bullet.gif');
    background-repeat: no-repeat;
    background-position: 0px center; */
	padding: 8px;
	padding-left:15px;
	width:100%;
	display:block;
	/* reset styles (optional): */
	
	margin: 0;
}
#navToc ul ul a {
	padding-left: 30px;
}

/*#navToc ul li:before{
content: "\e258";
font-family: 'Glyphicons Halflings';
color:333;
}
*/



#navToc li.selected  a{
	background-color: #0572ce !important;
}
#navToc li.selected a{
	color:#fff;
}


/*Tocify , Not used*/

.tocify ul ul > li a {
	font-size: 90% !important;
	padding: 8px 15px 8px 25px !important;
}
.tocify .active > a {
	background-color: #FFF !important;
	color: #000;
}
